body {
    font-family: Consolas;
    margin: 3rem;
    color: #bdbdbd;
    background-color: #282c34;
}

table {
  font-family: Consolas;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #393939;
  text-align: left;
  padding: 4px;
}

th {
    cursor: pointer;
}

tr:nth-child(even) {
  background-color: #2b323d;
}

a:visited {
    color: #9b87a5;
    text-decoration: none;
}

a:link {
    color: #bdbdbd;
    text-decoration: none;
}

a:hover {
    color: #c9aa88;
    text-decoration: underline;
}