body {
    font-family: Consolas, serif;
    color: #bdbdbd;
    background-color: #282c34;
    margin: 0;
}

table {
    font-family: Consolas, serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #393939;
    text-align: left;
    padding: 4px;
    line-height: 20px;
}

th {
    cursor: pointer;
    line-height: 30px;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #2b323d;
}

a:visited {
    color: #9b87a5;
    text-decoration: none;
}

a:link {
    color: #bdbdbd;
    text-decoration: none;
}

a:hover {
    color: #c9aa88;
    text-decoration: underline;
}

.navbar {
    overflow: hidden;
    background-color: #181a1f;
}

.navbar a {
  float: left;
  color: #bdbdbd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #c9aa88;
  color: black;
}

.navbar a.active {
  background-color: #c9aa88;
  color: white;
}

.page {
    margin: 2rem;
}