{% extends "base.html" %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    <script src="/static/js/sortTable.js"></script>
    <h1> {{ title }}:</h1>
    <table id="projectsData">
        <thead>
            <tr>
                <th>Block</th>
                <th>Profile</th>
                <th onclick="sortTable(2)">Username</th>
                <th onclick="sortTable(3)">Projects</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}
            <tr>
                <td><a href="{{ block_url + entry['username'] }}">Block</a></td>
                <td><a href="{{ visit_profile_url + entry['username'] }}">Profile</a></td>
                <td><a href="{{ projects_by_url + entry['username'] }}">{{ entry["username"] }}</a></td>
                <td>{{ entry["cnt"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
