{% extends "base.html" %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    <script src="/static/js/sortTable.js"></script>
    <h1> {{ title }}:</h1>
    <table id="projectsData">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Scene</th>
                <th onclick="sortTable(1)">Frames</th>
                <th onclick="sortTable(2)">Devices</th>
                <th onclick="sortTable(3)">Size</th>
                <th onclick="sortTable(4)">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}
            <tr>
                <td>{{ entry["scene"] }}</td>
                <td>{{ entry["frames"] }}</td>
                <td>{{ entry["devices"] }}</td>
                <td>{{ entry["size"] }}</td>
                <td>{{ entry["date_created"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
